---
layout: page
title: Mixes
background: '/img/bg-post.jpg'
pagination: 
  enabled: true
  tag: mix
  filter:
    - "archived"
---

{% for post in paginator.posts %}

<article class="post-preview">
  <div class="post-container">
    {% if post.episodeimg %}
    <div class="post-image">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <img src="{{ post.episodeimg }}" alt="{{ post.title }}" class="post-image">
      </a>
    </div>
    {% endif %}
    <div class="post-content">
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h2 class="post-title">{{ post.subtitle }}</h2>
        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
      </a>
      <p class="post-meta">Posted by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
        on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
      </p>
    </div>
  </div>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
