<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js" | relative_url }}"></script>
<script src="{{"/assets/scripts.js" | relative_url }}"></script>
<script src="{{"/assets/popper.js" | relative_url }}"></script>
<script> window.start.init({Palette:"palette7",Mode:"floating right",Theme:"block",Message:"This website uses cookies to ensure you get the best experience. Please read our Cookie Policy for more information. Continuing to use the website is acceptance of the policy.",Location:"/cookies",LinkText:"Read Our Cookie Policy",Time:"1",})
</script>
