---
layout: default
---

<!-- Page Header -->
<script>
function settime(pos){
    var audio= document.getElementById("AudioPlayer");
    audio.currentTime=pos;
    audio.play();
    return true;
}
</script>

{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.genre %}
            <h2 class="subheading">{{ page.genre }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}
        
        <hr>
        <ol>
          {% for track in page.tracklist %}
            <li>{{ track.title }} {% if track.label %} - [{{ track.label}} {% endif %}]
            {% if track.startpos %}
              <i onclick="return settime({{ track.startpos | time_seconds }});" class="fas fa-headphones-alt" style="cursor: pointer;"></i>
            {% endif %}
            {% if track.purchaseurl %}
              <a href="{{ track.purchaseurl }}"><i class="fas fa-shopping-cart"></i></a>
            {% endif %}
            </li>
          {% endfor %}
        </ol>
        <audio id="AudioPlayer" style="width: 100%" controls controlsList="nodownload">
          <source src="{{ page.mp3streamurl }}" type="audio/mpeg">
        </audio>
        {% if page.downloadurl %}
          <form method="get" action="{{ page.downloadurl }}">
            <button type="submit" class="btn btn-success">Download</button>
          </form>
          <hr>
        {% endif %}
		
		{% if page.sharing %}
			{% include share.html %}
		{% endif %}

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>
		<hr>
		<div class="alert alert-success" role="alert">
			To make listening to my mixes as easy as possible I've created a Podcast feed which you should be able to subscribe to using any good Podcast player on your smartphone or other device.  One such player that I have tested and highly recommend is AntennaPod which is free to download on Google Play and does not contain any advertising.
		</div>
    <a href="https://antennapod.org/deeplink/subscribe?url=https%3A%2F%2Fwww.djabstraction.com%2Ffeed%2Fpodcast.xml&title=DJ%20Abstraction%27s%20Warmup%20Sessions"><img src="/img/podcast/apbadge.png" width="250"></a>	
      </div>
    </div>
  </div>
  
